body {
  margin: 0;
  min-width: 320px;
  font: 14px/1.6 'Open Sans', sans-serif;
  color: #656565;
  background: #fff;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

a {
  color: #656565;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  width: 1100px;
}

.container::after {
  content: '';
  display: block;
  clear: both;
}

#header {
  font: 300 13px 'Open sans',sans-serif;
}

.top-row {
  background: #4cb1ca;
  color: #fff;
  position: relative;
}

.settings {
  float: left;
  padding: 10px 0 10px 0;
}

.settings label {
  color: #bef2ff;
}

.settings select {
  background: transparent;
  border: 0;
  color: #fff;
  outline: none;
}

.settings option {
  color: #fff;
  background: #4cb1ca;
}

.top-nav {
    float: right;
}

/*.top-nav ul {

}*/

.top-nav li {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border-left: solid #fff thin;
}

.top-nav li:first-child {
  border: none;
}

.top-nav a {
  text-decoration: none;
  color: #fff;
  padding: 0 15px;
}
/*main navigation menu*/

.logo  {
  float: left;
  padding: 41px 0 37px 0;
}

.main-nav {
  position: relative;
}

.main-nav-menu {
  float: left;
  margin: 0;
  padding: 44px 114px 0 50px;
}

/*.main-nav ul {

}*/

.main-nav li {
  display: inline-block;
  padding: 0 10px 0 10px;
}

.main-nav a {
  text-decoration: none;
  color: #656565;
  font: 700 14px 'Open sans',sans-serif;
}

.search {
  float: right;
}

/*slide-show*/
.slider .slide {
  position: relative;
}

.slider img {
  width: 100%;
  height: auto;
}

.slider .text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  color: #fff;
  width: 480px;
  margin-left: -480px;
  transform: translate(0,-50%);
}

.slider .text-block .title {
  font-size: 28px;
  line-height: 47px;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
}

.slider .text-block span {
  display: inline-block;
  vertical-align: top;
  padding: 0 17px;
  margin-bottom: 3px;
  background: rgba(0, 0, 0, 0.5);
}

.slider .text-block span:first-child {
  font-weight: 300;
  font-size: 30px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background: #fff;
  border:0;
  padding: 0;
  z-index: 3;
  cursor: pointer;
  color: #cdcdcd !important;
  font-size: 0;
  text-align: center;
  line-height: 0;
  outline: none;
}

.slick-arrow:hover {
  opacity: .9;
}

.slick-arrow.slick-prev {
  margin-left: -595px;
  left: 50%;
}

.slick-arrow.slick-prev::after {
  content: '\f104';
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-size: 55px;
  line-height: 67px;
}

.slick-arrow.slick-next {
  margin-right: -595px;
  right: 50%;
}

.slick-arrow.slick-next::after {
  content: '\f105';
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-size: 55px;
  line-height: 67px;
}

/*main*/
.main-body {
  position: relative;
}
.item {
  height: 318px;
  width: 233px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(245,245,245,1);
  -moz-box-shadow: 0px 0px 5px 5px rgba(245,245,245,1);
  box-shadow: 0px 0px 5px 5px rgba(245,245,245,1);
}

.image {
  height: 228px;
  width: 217px;
  overflow: hidden;
}

/* side-slider */

.side-slider {
  float: right;
  width: 233px;
  height: 485px;
  background: #fff;
  position: relative;
  box-shadow: 0 0 5px rgba(122,122,122,0.5);
  overflow: hidden;
}

.side-slide img {
  padding: 13px 13px;
  position: relative;
}

.side-slider .slick-dots {
  display: inline-block;
  margin: 0 auto;
  padding: 0 0 0 80px;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(122,122,122,0.5);
}

.side-slider .slick-dots li {
  display: inline-block;
  list-style: none;
}

.side-slider li button {
  border-radius: 10px;
  border: none;
  font-size: 0;
  line-height: 0;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background: #7db122;
  outline: none;
  padding: 0;
}


.side-slider li button:hover {
	background: #4cb1ca;
}

.side-slider .slick-active button  {
  background: #4cb1ca;
}
