body {
  margin: 0;
  min-width: 320px;
  font: 14px/1.6 'Open Sans', sans-serif;
  color: #656565;
  background: #fff;
}

a {
  color: #656565;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  width: 1100px;
}

.container::after {
  content: '';
  display: block;
  clear: both;
}

#header {
}

.top-row {
  background: #4cb1ca;
  color: #fff;

}

.settings label {
  color: #bef2ff;
}
