body {
  margin: 0;
  min-width: 320px;
  font: 14px/1.6 'Open Sans', sans-serif;
  color: #656565;
  background: #fff;
}

.clearfix:after,
.container:after  {
	content: '';
	display: block;
	clear: both;
}

a {
  color: #656565;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}

#header {
  font: 300 13px 'Open sans',sans-serif;
}

.top-row {
  background: #4cb1ca;
  color: #fff;
  position: relative;
}

.settings {
  float: left;
  padding: 10px 0 10px 0;
}

.settings label {
  color: #bef2ff;
}

.settings select {
  background: transparent;
  border: 0;
  color: #fff;
  outline: none;
}

.settings option {
  color: #fff;
  background: #4cb1ca;
}

.top-nav {
    float: right;
}


.top-nav li {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border-left: solid #fff thin;
}

.top-nav li:first-child {
  border: none;
}

.top-nav a {
  text-decoration: none;
  color: #fff;
  padding: 0 15px;
}

/*main navigation menu*/

.logo  {
  float: left;
  padding: 41px 0 37px 0;
}

.main-nav {
  position: relative;
}

.main-nav-menu {
  float: left;
  margin: 0;
  padding: 44px 114px 0 50px;
}

.main-nav li {
  display: inline-block;
  padding: 0 10px 0 10px;
}

.main-nav a {
  text-decoration: none;
  color: #656565;
  font: 700 14px 'Open sans',sans-serif;
}

.search {
  float: right;
}

/*slide-show*/

.slick-slider {
  margin-bottom: 48px;
}

.slider .slide {
  position: relative;
}

.slider img {
  width: 100%;
  height: auto;
}

.slider .text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  color: #fff;
  width: 480px;
  margin-left: -480px;
  transform: translate(0,-50%);
}

.slider .text-block .title {
  font-size: 28px;
  line-height: 47px;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
}

.slider .text-block span {
  display: inline-block;
  vertical-align: top;
  padding: 0 17px;
  margin-bottom: 3px;
  background: rgba(0, 0, 0, 0.5);
}

.slider .text-block span:first-child {
  font-weight: 300;
  font-size: 30px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background: #fff;
  border:0;
  padding: 0;
  z-index: 3;
  cursor: pointer;
  color: #cdcdcd !important;
  font-size: 0;
  text-align: center;
  line-height: 0;
  outline: none;
}

.slick-arrow:hover {
  opacity: .9;
}

.slick-arrow.slick-prev {
  margin-left: -595px;
  left: 50%;
}

.slick-arrow.slick-prev::after {
  content: '\f104';
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-size: 55px;
  line-height: 67px;
}

.slick-arrow.slick-next {
  margin-right: -595px;
  right: 50%;
}

.slick-arrow.slick-next::after {
  content: '\f105';
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-size: 55px;
  line-height: 67px;
}

/*main*/

.main-body {
  position: relative;
}

.main-body .container {
  padding: 0 3px;
}

.main-body h2 {
  font: 400 24px/0.8 'Open Sans',sans-serif;
  margin: 0 0 24px 0;
}

.item-list {
  float: left;
}

.content {
  float: left;
  margin: 0;
  padding: 0;
  width: 75%;
}

.prod-list h {
  display: block;
}

.prod-list {
margin: 0;
padding: 0;
}

.prod-list li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 5px rgba(122,122,122,0.5);
  padding: 8px 8px;
  margin: 0 26px 25px 0;
  width: 28.3%;
  min-height: 302px;
  position: relative;
}

.prod-list li:nth-child(3n) {
  margin: 0 0 25px 0;
}

.prod-list .image {
  display: block;
}

.prod-list .image img {
  width: 100%;
  height: auto;
  vertical-align: top;
  margin-bottom: 8px;
}

.prod-list .desc {
  padding: 4px 55px 4px 4px;
  position: relative;
}

.prod-list .text {

}

.prod-list p {
  margin: 0;
}

.text p {
  font: 400 14px 'Open-Sans',sans-serif;
}

.price-box {
  font: 400 18px/1.5 'Open-Sans',sans-serif;
  color: #7db122;
}

.prod-list .btn-cart {
  position: absolute;
  top: 0;
  right: 5px;
  background: #7db122 url(../images/btn-cart.png) no-repeat 50% 50%;
  width: 47px;
  height: 47px;
  font-size: 0;
  text-align: center;
  line-height: 0;
  outline: none;
  border-radius: 50%;
}

/*ribons*/

.ribbon {
	position: absolute;
	right: -4px;
	top: -4px;
	z-index: 2;
	overflow: hidden;
	width: 90px; height: 90px;
	text-align: right;
}
.ribbon span {
	font-size: 15px;
	font-weight: bold;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 30px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	width: 125px;
	display: block;
	background: linear-gradient(#4CB1CA 0%, #4cb1ca 100%);
	box-shadow:inset -1px -1px 0 1px #2ea0bc;
	position: absolute;
	top: 19px;
	right: -28px;
}
.ribbon span::before {
	content: "";
	position: absolute; left: 0px; top: 100%;
	z-index: -1;
	border-left: 3px solid #2ea0bc;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #2ea0bc;
}
.ribbon span::after {
 	content: "";
	position: absolute; right: 0px; top: 100%;
	z-index: -1;
	border-left: 3px solid transparent;
	border-right: 3px solid #2ea0bc;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #2ea0bc;
}
.green span {
	background: linear-gradient(#7DB122 0%, #7db122 100%);
	box-shadow:inset -1px -1px 0 1px #639015;
}
.green span::before {
	border-left: 3px solid #639015;
	border-top: 3px solid #639015;
}
.green span::after {
	border-right: 3px solid #639015;
	border-top: 3px solid #639015;
}
.left {
	left: -4px;
	top: -4px;
}
.left span {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	top: 19px; left: -28px;
}
.aside {
	display: block;
	float: right;
	width: 25%;
	position: absolute;
	top: 0;
	right: 0;
}

/* side-slider */

.side-bar {
  float: right;
  width: 20%;
}


.side-slider {
  float: right;
  width: 233px;
  height: 485px;
  background: #fff;
  position: relative;
  box-shadow: 0 0 5px rgba(122,122,122,0.5);
  overflow: hidden;
}

.side-slide img {
  padding: 13px 13px;
  position: relative;
}

.side-slider .slick-dots {
  display: inline-block;
  margin: 0 auto;
  padding: 0 0 0 80px;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(122,122,122,0.5);
}

.side-slider .slick-dots li {
  display: inline-block;
  list-style: none;
}

.side-slider li button {
  border-radius: 10px;
  border: none;
  font-size: 0;
  line-height: 0;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background: #7db122;
  outline: none;
  padding: 0;
}


.side-slider li button:hover {
	background: #4cb1ca;
}

.side-slider .slick-active button  {
  background: #4cb1ca;
}

/*footer*/

.footer-body	{
	height: 500px;
}

.delivery-row {
	color: #fff;
	background: #4cb1ca;
	height: 105px;
	position: relative;
}

.footer-block {
	font-size: 21px;
	display: inline-block;
	width: 49%;
	transform: translate(0, 20%);
}

.delivery-row a {
	margin: 14px 10px 0 0;
	text-align: center;
	font-size: 30px;
	float: left;
	color: #39a0b9;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 25px;
}

.delivery-row a:hover {
	opacity: 0.7;
}

.contact-row {
	color: #fff;
	background: #39a0b9;
	height: 335px;
	position: relative;
	padding: 45px 0 0;
}

.contact-tab {
	margin-right: 1.7%;
	width: 23%;
	display: inline-block;
	vertical-align: top;
}

.alt-content {
	margin: 20px 0 0;
}

.contact-tab ul {
	list-style: none;
	padding: 0;
}

.contact-tab li:before {
	margin-right: 10px;
	content: '\f105';
	font-family: 'FontAwesome';
}

.contact-tab i {
	margin-right: 7px;
	color: #39a0b9;
	text-align: center;
	line-height: 43px;
	font-size: 22px;
	background: #fff;
	width: 43px;
	height: 43px;
	border-radius: 50%;
}

.contact-tab i:hover {
	opacity: 0.7;
}

.contact-tab .text-block {
	top: 0;
	text-transform: uppercase;
	font-size: 20px;
}

.end-row {
	background: #0b4b5a;
	height: 20px;
	position: relative;
	color: #fff;
	padding: 20px 0;
}

.end-row p {
	margin: 0;
	color: #8adcf0;
}

.end-row-left {
	float: left;
}

.bottom-nav {
	padding: 0;
	margin: 0;
	list-style: none;
	float: right;
}

.bottom-nav b, a {
	color: #8adcf0;
}

.bottom-nav li {
	display: inline-block;
}





/*responsive*/
#header .container {
  position: relative;
}

.btn-burger {
  display: none;
}

@media screen and (max-width: 1366px) {
  .slick-arrow.slick-prev {
    margin: 0;
    left: 3%;
  }
  .slick-arrow.slick-next {
    margin: 0;
    right: 3%;
  }
  .slider .text-block {
    margin: 0;
    left: 12%;
  }
}
@media screen and (max-width: 980px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 480px;
    background: #ccc;
    padding: 20px;
    z-index: 999;
    margin-top: 103px;
    transform: translateX(100%);
    transition: all .3s ease-in-out;
  }
  .open .mobile-nav {
    transform: translateX(0);
  }

  .btn-burger {
    display: block;
    position: absolute;
    top: 0;
    right: 50px
  }
  .main-nav {
    padding: 15px 0;
  }
  .main-nav,
  .main-nav-menu,
  .main-nav-menu ul,
  .main-nav-menu li
  .main-nav-menu a {
    float: none;
    display: block;
  }
  .search{
    display: block;
    width: 98%;
  }
  .box {
    min-height: 238px;
  }
  .slick-arrow {
    width: 44px;
    height: 44px;
  }

}
